.active {
    background-color: red;
}

.section {
    height: 600px;
    width: 400px;
    border: 1px solid;
    text-align: center;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.background {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #fe734f;
}

.background-about {
    width: 1440px;
    height: 385px;
    background-color: #7e65d0;
    color: #ffffff;
}

.blog-button-pink {
    width: 97px;
    height: 48px;
    border-radius: 24px;
    border: solid 1px #ffffff;
    background-color: #fe734f;
    font-family: NunitoSans-Bold;
    color: #ffffff;
    position: relative;
    float: right;
    margin: 6%;
    display: inline-block;
}

.blog-button-blue {
    width: 97px;
    height: 48px;
    border-radius: 24px;
    border: solid 1px #ffffff;
    background-color: #7e65d0;
    font-family: NunitoSans-Bold;
    color: #ffffff;
    position: relative;
    float: right;
    margin: 6%;
    display: inline-block;
}



.button-icon {
    position: relative;
    margin: 10px;
}

.button-span {
    display: inline-flex;
    margin-left: 15%;
    margin-right: 15%;
}

.footer {
    background-color: #51c1c3;
    color: #e7f8f8;
    height: 214px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footer-content-top {
    color: #e7f8f8;
    height: 107px;
    margin: 15%;
    border-bottom: solid 1.5px #e7f8f8;
}

.footer-content-bottom {
    color: #e7f8f8;
    margin: 15%;
    
}

.header-top {
    align-content: center;
}

.home {
    width: 100%;
    height: 100%;
}

.jornada {
    width: 75%;
    position: relative;
    margin: 0% 12.5%;
    align-content: center;
}

.jornada-tittle {
    font-family: NunitoSans;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.jornada-text {
    font-family: NunitoSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 5%;
    margin-bottom: 10%;
}

.logo-1440 {
    width: 75%;
    height: 59px;
    object-fit: contain;
    margin: 5%;
    align-content: center;
    position: absolute;
    display: inline-block;
    margin: 5% 15%;
}

.prime {
    position: relative;
    display: block;
}

.rectangle-button {
    height: 314px;
    width: 314px;
    border-radius: 10px;
    border: solid 1.5px #d0d3d6;
    background-color: #ffffff;
    margin: 3%;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px
}

.scrollSpyContainer {
    right: 12px;
    top: 0;
    position: fixed;
    background-color: white;
    display: block;
}

ul li {
    list-style-type: none;
}

.spyItemClass {
    color: tomato;
    padding: 4px;
}

    .spyItemClass:hover {
        cursor: pointer;
    }

.active {
    font-weight: bold;
    color: black
}

#main {
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-family: NunitoSans;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

